[submodule "resources/benchmark/tpcds/tpcds-result-reproduction"]
	path = resources/benchmark/tpcds/tpcds-result-reproduction
	url = https://github.com/hyrise-mp/tpcds-result-reproduction.git
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "third_party/cpp-btree"]
	path = third_party/cpp-btree
	url = https://github.com/mrks/cpp-btree
[submodule "third_party/compact_vector"]
	path = third_party/compact_vector
	url = https://github.com/gmarcais/compact_vector.git
[submodule "third_party/cpplint"]
	path = third_party/cpplint
	url = https://github.com/cpplint/cpplint.git
[submodule "third_party/cxxopts"]
	path = third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "flat_hash_map"]
	path = third_party/flat_hash_map
	url = https://github.com/skarupke/flat_hash_map.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/jcch-dbgen"]
	path = third_party/jcch-dbgen
	url = https://github.com/mrks/dbgen.JCC-H.git
[submodule "third_party/jemalloc"]
	path = third_party/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "third_party/join-order-benchmark"]
	path = third_party/join-order-benchmark
	url = https://github.com/gregrahn/join-order-benchmark.git
[submodule "third_party/libpqxx"]
	path = third_party/libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "third_party/lz4"]
	path = third_party/lz4
	url = https://github.com/lz4/lz4.git
[submodule "third_party/magic_enum"]
	path = third_party/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "third_party/nlohmann_json"]
	path = third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "third_party/robin-map"]
	path = third_party/robin-map
	url = https://github.com/Tessil/robin-map.git
[submodule "third_party/sql-parser"]
	path = third_party/sql-parser
	url = https://github.com/hyrise/sql-parser.git
[submodule "third_party/tpcds-kit"]
	path = third_party/tpcds-kit
	url = https://github.com/hyrise-mp/tpcds-kit.git
[submodule "third_party/zstd"]
	path = third_party/zstd
	url = https://github.com/facebook/zstd.git
