obj/*
.DS_STORE
build/*
build-*/*
*.make
Makefile*
coverage
.vscode
benchmark.json
*.sublime-*
.idea
*.xcodeproj
*.xcworkspace
.vscode
*.pyc
console.log
.repl_history
.queryplan.dot
.queryplan.png
.ast.dot
.ast.png

# Ignore generated TPC{CH} tables.
# Intentionally only for root dir, tests contain csv we check in
/*.csv
/*.csv.meta

# CLion cmake directory
cmake-build-*
